@using HrModell;
@{
    Layout = null;
}
@{

    var list = ViewData["Data"] as List<salary_standardModel>;
    var zong = (Convert.ToInt32(ViewData["row"]) - 1) / 5 + 1;
    var tj = ViewData["list"];
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index2</title>
    <link href="~/css/table.css" rel="stylesheet" />
    <script src="~/javaScript/jquery-1.7.2.js"></script>
    <script src="~/javaScript/vue-2.4.0.js"></script>
    <style type="text/css">
        /*2个点*/
        .v-enter, .v-leave-to {
            opacity: 0;
            transform:translateX(100px);
        }
        /*2个时间段*/
        .v-enter-active, .v-leave-active {
            transition: all 2s ease;
        }

        tr:hover {
            background-color: red;
            transition: all 1s ease;
        }
    </style>
</head>
<body>
    <div id="div11">

        <table width="100%">
            <tr>
                <td>
                    <font color="black">您正在做的业务是:人力资源管理--薪酬标准管理--薪酬标准登记查询</font>
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    符合条件的薪酬标准总数:@ViewData["row"]例
                </td>
            </tr>
        </table>

        <table width="100%" border="1" cellpadding=0 cellspacing=1
               bordercolorlight=#848284 bordercolordark=#eeeeee
               class="TABLE_STYLE1">
            <thead is="transition-group" appear>
                <tr>
                    <td width="15%" class="TD_STYLE1">
                        <span>薪酬标准编号</span>
                    </td>
                    <td width="20%" class="TD_STYLE1">
                        <span>薪酬标准名称</span>
                    </td>
                    <td width="15%" class="TD_STYLE1">
                        <span>制定人</span>
                    </td>
                    <td width="30%" class="TD_STYLE1">
                        <span>登记时间</span>
                    </td>
                    <td class="TD_STYLE1" width="15%">
                        薪酬总额
                    </td>
                    <td class="TD_STYLE1" width="15%">变更</td>
                </tr>
                </thead>
                @foreach (var item in list)
                {
        <tbody is="transition-group" appear>
            <tr class="TD_STYLE2">
                <td>
                    @item.standard_id
                </td>
                <td>
                    @item.standard_name

                </td>
                <td>
                    @item.designer
                </td>
                <td>
                    @item.regist_time
                </td>
                <td>
                    @item.salary_sum
                </td>
                ,
                <td><a href="/Update/Upd/@item.ssd_id">变更</a></td>
            </tr>
        </tbody>
                }
        </table>


        <div align="center" style="font-size: 18px;color: gray">
            &nbsp;&nbsp;总数：
            <font style="color: maroon;font-weight: bold;">@ViewData["row"]</font>
            例
            &nbsp;&nbsp;&nbsp;
            每页显示 <font style="color: maroon;font-weight: bold;">5</font>
            条
            &nbsp;&nbsp;&nbsp;
            当前第 <font style="color: maroon;font-weight: bold;" id="cur">@ViewData["page"]</font>
            页
            &nbsp;&nbsp;&nbsp;共
            <font style="color: maroon;font-weight: bold;" id="zong">@zong</font>
            页
            <a style="color: navy;font-weight: bold" v-on:click="shou()">首页</a>

            <a style="color: navy;font-weight: bold"
               v-on:click="shang()">上一页</a>

            <a style="color: navy;font-weight: bold"
               v-on:click="xia()">下一页</a>

            <a style="color: navy;font-weight: bold"
               v-on:click="mo()">末页</a>
            &nbsp;&nbsp;&nbsp;跳到第
            <input id=page type=text value="1" class=input1 size=1>
            页&nbsp;&nbsp;
            <input type="image" src="../../images/go.bmp" width=18 height=18 border=0 v-on:click="tiao()">
            <input type="hidden" name="page.startPage" id="startpage" value="1">
            <span hidden="hidden" id="tj">@ViewData["list"]</span>
        </div>
    </div>
    <script type="text/javascript">
        var vm = new Vue({
            el: "#div11",
            data: {
                dt: [],
                pages: 1,
                row: 0,
                currentpage: 1
            },
            methods: {
                load: function () {
                    alert(1);
                },
                xia: function () {
                    var page = $("#cur").text();
                    var id;
                    if (page < $("#zong").text()) {
                        page++;
                        var tj = $("#tj").text();
                        var n = (tj.split(',')).length - 1;
                        if (n == 4) {
                            var i = tj.lastIndexOf(",");
                            var st = tj.substr(0, tj.lastIndexOf(",", i + 1));
                            var str = tj.substr(tj.lastIndexOf(",", i + 1), tj.length);
                            str = "," + page;
                            id = st + str;
                        } else {
                            id = tj + "," + page;
                        }
                        $("#tj").text("");
                        location.href = "/Update/Index2/" + id + "";
                    } else if (page == $("#zong").text()) {
                        page = $("#zong").text();
                        var id = $("#tj").text();
                        alert("已是最后一页");
                        $("#tj").text("");
                        location.href = "/Update/Index2/" + id + "";
                    }
                }, shang: function () {
                    var page = $("#cur").text();

                    if (page > 1) {
                        page--;
                        var id;
                        var tj = $("#tj").text();
                        var n = (tj.split(',')).length - 1;
                        if (n == 4) {
                            var i = tj.lastIndexOf(",");
                            var st = tj.substr(0, tj.lastIndexOf(",", i + 1));
                            var str = tj.substr(tj.lastIndexOf(",", i + 1), tj.length);
                            str = "," + page;
                            id = st + str;
                        } else {
                            id = tj + "," + page;
                        }
                        $("#tj").text("");
                        location.href = "/Update/Index2/" + id + "";
                    }
                    else if (page == 1) {
                        page = 1;
                        var id = $("#tj").text();
                        alert("已是第一页");
                        $("#tj").text("");
                        location.href = "/Update/Index2/" + id + "";
                    }
                }, shou: function () {
                    page = 1;
                    var id;
                    var tj = $("#tj").text();
                    var n = (tj.split(',')).length - 1;
                    if (n == 4) {
                        var i = tj.lastIndexOf(",");
                        var st = tj.substr(0, tj.lastIndexOf(",", i + 1));
                        var str = tj.substr(tj.lastIndexOf(",", i + 1), tj.length);
                        str = "," + page;
                        id = st + str;
                    } else {
                        id = tj + "," + page;
                    }
                    location.href = "/Update/Index2/" + id + "";
                }, mo: function () {
                    var page = $("#zong").text();
                    var id;
                    var tj = $("#tj").text();
                    var n = (tj.split(',')).length - 1;
                    if (n == 4) {
                        var i = tj.lastIndexOf(",");
                        var st = tj.substr(0, tj.lastIndexOf(",", i + 1));
                        var str = tj.substr(tj.lastIndexOf(",", i + 1), tj.length);
                        str = "," + page;
                        id = st + str;
                    } else {
                        id = tj + "," + page;
                    }
                    location.href = "/Update/Index2/" + id + "";
                }, tiao: function () {
                    var count = $("#page").val();
                    if (count > $("#zong").text()) {
                        alert("输入不合法");
                    } else if (count < 1) {
                        alert("输入不合法");
                    } else {
                        var id;
                        var tj = $("#tj").text();
                        var n = (tj.split(',')).length - 1;
                        if (n == 4) {
                            var i = tj.lastIndexOf(",");
                            var st = tj.substr(0, tj.lastIndexOf(",", i + 1));
                            var str = tj.substr(tj.lastIndexOf(",", i + 1), tj.length);
                            str = "," + count;
                            id = st + str;
                        } else {
                            id = tj + "," + count;
                        }
                        location.href = "/Update/Index2/" + id + "";
                    }
                }

            },
            mounted: function () {

            }
        });
    </script>
</body>
</html>
